# MODE should be set to "development" locally or "production" when deployed
# DATABASE URL should be set to postgresql://[YOUR_USERNAME_HERE]:[YOUR_PASSWORD_HERE]@localhost:5432/[YOUR_DATABASE_HERE]

# Server Info
MODE=_development_or_production_
DATABASE_URL=_URL_TO_DATABASE_
SESSION_SECRET=_RANDOM_STRING_HERE_

# Google (OAuth2 info)
# client ID and secret from an OAuth2 key made in Google cloud console
# callback url = site url with the endpoint /oauth2/redirect/google
GOOGLE_CLIENT_ID=_GOOGLE_CLIENT_ID_HERE_
GOOGLE_CLIENT_SECRET=_GOOGLE_CLIENT_SECRET_HERE_
GOOGLE_CALLBACK_URL=_GOOGLE_OAUTH_CALLBACK_URL_HERE_

# Gemini (also from Google cloud console)
GEMINI_API_KEY=_GOOGLE_GEMINI_API_KEY_HERE_
